<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Stock</th>
      <th scope="col">Categoria</th>
       <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.producto}}</td>
      <td>{{this.descripcion}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.categoria}}</td>
      <td><img src="{{this.imagen}}" height="150" width="150"</td>
      <a href="deleteProductModal" type="button" class="btn btn-light btn-small"> <i class="material-icons" data-toggle="tooltip" title="Editar" >&#xE254;</i> </a>
       <a href="#" type="button" class="btn btn-light btn-small"> <i class="material-icons" data-toggle="tooltip" title="Eliminar">delete</i></a>
    </tr>
    {{/each}}
     
  </tbody>
</table>
